*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
Thumbs.db
/build
/captures
.externalNativeBuild
.cxx
/node_modules
/bin
/target
.class
/packages

/Ejemplos Bluetooth - BLE
/Ejemplos de conexion BBDD con Synology
/JavaFX SpringBoot
/JavaFX SpringBootApp